:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --ff-body: "Raleway", serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: var(--ff-body);
    font-size: 14px;
    background-color: var(--very-dark-blue);
    color: var(--pale-blue);
}
section {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 90vh;
}
.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 900px) {
        flex-direction: row;
        width: 70%;
    }
}
.card {
    padding: 40px;
    border-radius: 10px;
    position: relative;
    &__actions {
        display: flex;
    }
    &--dark-blue {
        background-color: var(--dark-blue);
        -webkit-box-shadow: 0px 23px 55px 0px rgba(12, 18, 44, 0.43);
        -moz-box-shadow: 0px 23px 55px 0px rgba(12, 18, 44, 0.43);
        box-shadow: 0px 23px 55px 0px rgba(12, 18, 44, 0.43);
    }

    &-logo {
        width: 100%;
        @media screen and (min-width: 900px) {
            width: 400px;
        }
    }
    &-range {
        margin-left: 0;
        flex-grow: 1;
        margin-top: 20px;
        text-align: center;
        @media screen and (min-width: 900px) {
            margin-left: 30px;
            text-align: left;
            margin-top: 40px;
        }
    }
}
.bdr-radius {
    &-t-r {
        border-top-right-radius: 100px;
    }
}
.d-flex {
    display: flex;
}
.flex-direc {
    &--column {
        flex-direction: column;
    }
}

.text-center {
    text-align: center;
}
.font {
    &--bold {
        font-weight: 700;
    }
}
.bg-img {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: -1;
    @media screen and (max-width: 900px) {
        height: 100%;
    }
}
.logo {
    &__wrapper {
        margin-bottom: 30px;
    }
}
.icon {
    background-color: var(--very-dark-blue);
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    & + & {
        margin-left: 15px;
    }
}
.input-range {
    &__wrapper {
        position: relative;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        @media screen and(min-width:900px) {
            margin-bottom: 0;
        }
    }
    &--min,
    &--max {
        position: absolute;
        bottom: 0;
        font-weight: 700;
    }
    &--min {
        left: 0;
    }
    &--max {
        right: 0;
    }
    &__value-wrapper {
        height: auto;
        width: 200px;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 50%);
        background-color: #fff;
        padding: 20px;
        @media screen and (min-width: 900px) {
            height: 87px;
            top: 0;
            right: 40px;
            transform: translateY(-50%);
            border-bottom-right-radius: 0;
        }
        &::before {
            content: "";
            width: 0;
            height: 0;
            border-top: 0;
            border-left: 0;
            position: absolute;
            bottom: -28px;
            right: 0;
            @media screen and (min-width: 900px) {
                border-top: 30px solid #fff;
                border-left: 30px solid transparent;
            }
        }
    }
    &__value-text {
        color: var(--grayish-blue);
        font-weight: 700;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
    }
    &__value-title {
        font-size: 2.5rem;
        color: #000;
        margin-right: 10px;
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

input[type="range"] {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 100%;
    max-width: 100%;
    transition: box-shadow 0.2s ease-in-out;
    height: 20px;
    // Chrome
    & {
        overflow: hidden;
        -webkit-appearance: none;
        background-image: linear-gradient(to left, hsl(335, 100%, 65%), hsl(6, 100%, 80%));
    }
    &::-webkit-slider-runnable-track {
        height: 20px;
        -webkit-appearance: none;
        color: #444;
        transition: box-shadow 0.2s ease-in-out;
    }
    &::-webkit-slider-thumb {
        width: 20px;
        -webkit-appearance: none;
        height: 20px;
        background: #fff;
        box-shadow: 9330px 0 0 9320px #0f1b3d;
        border-radius: 50%;
        transition: box-shadow 0.2s ease-in-out;
        position: relative;
    }
    // Firefox
    &::-moz-range-track {
        height: 20px;
        background-image: linear-gradient(to left, hsl(335, 100%, 65%), hsl(6, 100%, 80%));
    }
    &::-moz-range-thumb {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 9010px 0 0 9000px #0f1b3d;
        border: 0;
    }
}
