:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --ff-body: "Raleway", serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  font-size: 14px;
  background-color: var(--very-dark-blue);
  color: var(--pale-blue);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 900px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
  }
}

.card {
  padding: 40px;
  border-radius: 10px;
  position: relative;
}

.card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card--dark-blue {
  background-color: var(--dark-blue);
  -webkit-box-shadow: 0px 23px 55px 0px rgba(12, 18, 44, 0.43);
  box-shadow: 0px 23px 55px 0px rgba(12, 18, 44, 0.43);
}

.card-logo {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .card-logo {
    width: 400px;
  }
}

.card-range {
  margin-left: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .card-range {
    margin-left: 30px;
    text-align: left;
    margin-top: 40px;
  }
}

.bdr-radius-t-r {
  border-top-right-radius: 100px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-direc--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-center {
  text-align: center;
}

.font--bold {
  font-weight: 700;
}

.bg-img {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 900px) {
  .bg-img {
    height: 100%;
  }
}

.logo__wrapper {
  margin-bottom: 30px;
}

.icon {
  background-color: var(--very-dark-blue);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.icon + .icon {
  margin-left: 15px;
}

.input-range__wrapper {
  position: relative;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 900px) {
  .input-range__wrapper {
    margin-bottom: 0;
  }
}

.input-range--min, .input-range--max {
  position: absolute;
  bottom: 0;
  font-weight: 700;
}

.input-range--min {
  left: 0;
}

.input-range--max {
  right: 0;
}

.input-range__value-wrapper {
  height: auto;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background-color: #fff;
  padding: 20px;
}

@media screen and (min-width: 900px) {
  .input-range__value-wrapper {
    height: 87px;
    top: 0;
    right: 40px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-bottom-right-radius: 0;
  }
}

.input-range__value-wrapper::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 0;
  position: absolute;
  bottom: -28px;
  right: 0;
}

@media screen and (min-width: 900px) {
  .input-range__value-wrapper::before {
    border-top: 30px solid #fff;
    border-left: 30px solid transparent;
  }
}

.input-range__value-text {
  color: var(--grayish-blue);
  font-weight: 700;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-range__value-title {
  font-size: 2.5rem;
  color: #000;
  margin-right: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 100%;
  max-width: 100%;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  height: 20px;
}

input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#ff4d97), to(#ffa399));
  background-image: linear-gradient(to left, #ff4d97, #ffa399);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
  -webkit-appearance: none;
  color: #444;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  height: 20px;
  background: #fff;
  -webkit-box-shadow: 9330px 0 0 9320px #0f1b3d;
          box-shadow: 9330px 0 0 9320px #0f1b3d;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  position: relative;
}

input[type="range"]::-moz-range-track {
  height: 20px;
  background-image: linear-gradient(to left, #ff4d97, #ffa399);
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 9010px 0 0 9000px #0f1b3d;
  border: 0;
}
/*# sourceMappingURL=style.css.map */